<!doctype html>
<html lang="fr">
<head> {% include'/inc/head.html.twig' %}
</head>
<body>
{% include '/inc/header.html.twig' %}
<div class="container">
    {% block title %} World's Famous Bucket List{% endblock %}
    <main>
        {% block main %}{% endblock %}
    </main>
</div>
<footer>
    {% include'/inc/footer.html.twig' %}
</footer>
</body>
</html>