{% extends 'layout.html.twig' %}
{% block title%} <h1> {{ idea.title }}</h1> <p> de {{ idea.author }}</p>  {% endblock %}
{% block main %}

    <div class="description"> {{ idea.description }}</div><br>
    <div id="date_publication"> publié le {{ idea.dateCreated| date("d/m/y")}}</div>

{% endblock %}