{% extends 'layout.html.twig' %}

{% block title %} <h1> Add an Idea </h1>{% endblock %}

{% block main %}
    <div class="form">
        {{ form_start(ideaForm) }}
        {{ form_widget(ideaForm) }}
        <div class="form_button">
            <button type="submit">Add</button>
            <button type="reset">Cancel</button>
        </div>
        {{ form_end(ideaForm) }}
    </div>
{% endblock %}