 <p class="copyright">
        &copy Bucket-List  {{ "now"|date("Y")}} by jessyMe<br>
        Logo By Fabián Alexis (https://github.com/fabianalexisinostroza/Antu) [<a
                href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>], <a
                href="https://commons.wikimedia.org/wiki/File%3AAntu_color-fill.svg">via Wikimedia
            Commons</a>
 </p>
    <a href="" class="contact"> Contact us</a>


