<section class="top-page">
    <header class="header">
        <img src="{{ asset('img/logo.png') }}" alt="bucket-list logo"/>
        <nav class="nav">
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="">Ajouter un must-do</a></li>
            <li><a href="">Deconnexion</a></li>
        </nav>
    </header>
    <div class="landing-page">
        <h1>World's famous bucket-list</h1>
    </div>
</section>

