{% extends 'layout.html.twig' %}
{% block main %}
Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda cumque deserunt dolor doloribus facilis inventore iste iure odit quam? Ad aliquam eveniet laborum laudantium non quas qui rem vero.
{% endblock %}

{% block title %}
<h1> Accueil </h1>
{% endblock %}