body {
    margin: 0 auto;
    font-family: 'Roboto Condensed ', sans-serif;
    font-size: 20px;
    color: dimgrey;
}
header.header {
    display: flex;
    align-items: center;
    background-color: tomato;
}

header.header img {
    width: 80px;
}
section.top-page{
    background:url("../img/sea-wallpaper.png");
    background-size: cover;
    height: 60vh;

}

/* menu de navigation*/

nav.nav {
    display: flex;
    list-style: none;

}

nav.nav li{
    color: white;
}


h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    color: darkgray;
}

title {
    margin-top: 130px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    color: darkgray;
}

footer{

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 10px;
    color: white;

}




